* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.about-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-zone {
  text-align: left;
}

.cup {
  height: 210px;
  width: 220px;
  border: 10px solid #c04a4a;
  position: relative;
  border-radius: 20px 20px 60px 60px;
  background: url('../../images/coffee-img-1.svg'),
    url('../../images/coffee-img-2.svg');
  background-position: 0 0, 0 0;
  background-repeat: repeat-x;
  animation: coffee 4s infinite linear;
}

@keyframes coffee {
  100% {
    background-position: -100% 0, -100% 0;
  }
}

.cup:before {
  content: '';
  position: absolute;
  height: 80px;
  width: 60px;
  border: 10px solid #c04a4a;
  border-left: none;
  right: -75px;
  top: 30px;
  border-radius: 0 30px 80px 0;
}

.cup:after {
  position: absolute;
  content: '';
  height: 10px;
  width: 300px;
  background-color: #c04a4a;
  left: -45px;
  bottom: -10px;
  border-radius: 10px;
}

.bubble {
  height: 15px;
  width: 15px;
  background-color: #fbbe08;
  border-radius: 50%;
  position: absolute;
  animation: bubbles forwards infinite;
  opacity: 0.6;
}

@keyframes bubbles {
  100% {
    transform: translateY(-150px);
    opacity: 0;
  }
}

/* Media query for desktop view */
@media (min-width: 780px) {
  .about-page {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .cup {
    margin-left: 30%;
    order: 1;
  }
}
