.nav-bar {
  background: #c04a4a;
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;

  .logo {
    img {
      width: 40px;
      height: auto;
    }
  }

  nav {
    display: flex;
    gap: 30px;

    a {
      color: #e2fcff;
      font-size: 24px;
      text-decoration: none;

      &.active {
        color: #fbbe08;
      }

      &:hover {
        color: #fbbe08;
      }
    }
  }

  ul {
    display: flex;
    gap: 15px;

    li {
      list-style: none;

      a {
        font-size: 20px;

        .anchor-icon {
          color: #e2fcff;

          &:hover {
            color: #fbbe08;
          }
        }
      }
    }
  }

  .hamburger-icon,
  .close-icon {
    display: none;
    cursor: pointer;
  }

  // MOBILE ONLY
  @media screen and (max-width: 768px) {
    flex-direction: column;
    height: auto;
    padding: 10px;

    nav {
      display: none;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin-top: 20px;

      &.mobile-show {
        display: flex;
      }
    }

    ul {
      display: none;
    }

    .hamburger-icon,
    .close-icon {
      display: block;
      position: absolute;
      top: 15px;
      right: 15px;
    }
  }
}
